.ant-menu-item {
    height:  auto !important;
    background-color: white;
    padding-left: 0 !important;
}
.ant-menu{
    background: white !important;
}
.ant-menu-item-selected {
    background-color: white !important;
}
.ant-menu-submenu-title{
    padding-inline: 0 !important;
}

.ant-menu-submenu-title{
    font-size: 12px !important;
}