.ant-menu-item {
    height:  auto !important;
    background-color: white;
    padding-left: 0 !important;
}
.ant-menu{
    background: white !important;
}
.ant-menu-item-selected {
    background-color: white !important;
}
.ant-menu-submenu-title{
    padding-inline: 0 !important;
}

.ant-menu-submenu-title{
    font-size: 12px !important;
}
.ant-menu-submenu-inline{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.06) !important;
    border-radius: 0px !important;
}
.ant-tabs-nav{
    margin: 0px !important;
}
.ant-upload-wrapper {
    width: auto !important;
}
.ant-menu-item:hover{
    background-color: transparent !important;
}